@use './reset.scss';
@use './variables.scss';
@use './stylesheet.scss';

body {
  background-color: var(--bg);
  font-family: var(--font-main);
}
section {
  margin: 0 auto;
}

html {
  font-size: clamp(14px, 0.9vw, 16px);
}