:root {
    --bg-color: #FFFFFF;
    --primary:#3745AF;
    --secondary:#4E61F6;
    --primary-900: #212967;

    // TEXT COLORS 
    --text-primary:#FFFFFF;
    --text-white: #FFFFFF;
    --text-gray:#9795B5;
    --text-gray-2:#5D5A88;

    // BACKGROUND
    --accent-primary:#4E61F6;
    --accent-primary-hover:#3745AF;
    --accent-primary-disable:#E5E7EA;
    --accent-primary-active:#2B3587;

    // BORDER
    --accent-primary-focus: #AEB6FB;

}