.featuresBlock {
    background-color: var(--primary-900); 
    padding-block: 80px;
    padding-inline: 10%;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 100px;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 600px;
}

.title {
    line-height: 1.2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    color: #121212; 
}

.cardNumber {
    font-size: 48px;
    font-weight: 700;
    color: #9795B5; 
    opacity: 0.8;
}

.cardTitle {
    color: var(--text-gray-2); 
    margin-bottom: 8px;
    
}

.cardDescription {
    color: #9795B5; 
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}