.featuresBlock {
    background-color: var(--primary-900); 
    padding-block: 80px;
    padding-inline: 10%;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-56);
    margin-top: var(--space-100);
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 16px;
    max-width: 1280px;
}

.title {
    line-height: 1.2;
    max-width: 1280px;
        margin-bottom: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
}

.card {
    min-width: 308px;
    min-height: 251px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // gap: 16px;
    color: #121212; 
}

.cardNumber {
    font-size: 38px;
    font-weight: 700;
    color: #9795B5; 
    margin-top: 20px;
}

.cardTitle {
    color: var(--text-gray-2); 
    margin-left: 8px;

    
}

.cardDescription {
    color: #9795B5; 
    font-size: 13px;
     margin-right: 8px;
     margin-left: 8px;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}