.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 239px;
  height: 38px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-decoration: none;

  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.7;
  }
}
