.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 40px;
  padding: 0 16px;

  font-family: var(--font-main);
  border-radius: 10px;
  border: 1px solid transparent;
  background: transparent;

  cursor: pointer;
  transition: all 0.2s ease;

  &:active {
    transform: scale(0.96);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.45;
    background: var(--bg-hover);
    color: var(--text-muted);
  }
}

.primary {
  background: var(--accent-primary);
  color: white;

  &:hover {
    background: var(--accent-primary-hover);
  }

  &:active {
    background: var(--accent-primary-active);
  }
}

.secondary {
  border: 1.5px solid var(--accent-primary);
  color: var(--accent-primary);

  &:hover {
    background: #edeffe;
  }
}


.text {
  border: none;
  padding: 4px;
  color: var(--accent-primary);
}


.danger {
  background: #ff3b3b;
  color: white;

  &:hover {
    background: #e63232;
  }
}


.icon {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 8px;
  background: #f2f3f7;

  &:hover {
    background: #e5e7ee;
  }
}

.badge {
  min-width: 63px;  
  height: 30px;
  padding: 0 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
}

.badge.red {
  background: #ffe3e3;
  color: #ff3b3b;
}

.badge.blue {
  background: #e5ebff;
  color: #4c63ff;
}

.badge.yellow {
  background: #fff3c4;
  color: #f2a900;
}


.select {
  width: 220px;
  justify-content: space-between;
  background: #f2f3f7;

  &:hover {
    background: #e9ebf3;
  }
}

/* ===== SIZES ===== */
.giant{
  width: 172px;
  height: 56px;
}
.small {
  height: 32px;
  width: 95px;
  font-size: 12px;
}

.medium {
  height: 40px;
  width: 110px;
}

.large {
  width: 156px;
  height: 48px;
}

/* ===== MODIFIERS ===== */
.fullWidth {
  width: 100%;
}

.rounded {
  border-radius: 999px;
}

/* ===== ICON INSIDE ===== */
.iconInner {
  display: flex;
  width: 16px;
  height: 16px;
}