@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 56px;
    height: 56px;
    border: 6px solid var(--primary-100);
    border-top-color: var(--accent-primary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
