.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin-left: 44px;
  max-width: 1146px;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.exportBtn{
  width: 200px;
  height: 40px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .exportBtn {
    width: 100%;
  }
}
.icon{
  margin-left: 8px;
}