.header {
  height: 96px;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 12px 0;
  background-color: #fff;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
  }
  
  .logoIcon {
    width: 50px;
    height: 38px;
    object-fit: contain;
  }
  
  .logoText {
    color: #3745AF;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
  
    a {
      text-decoration: none;
      font-size: 16px;
      color: var(--primary-800);
      transition: 0.2s ease;
  
      &:hover {
        color: #3b4cca;
      }
    }
  }
  
  .lang {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #2d2f55;
  }
  
  .arrow {
    font-size: 12px;
  }
  
  .button {
    width: 119px;
    min-height: 56px;
    border-radius: 20px;

  
    &:hover {
      opacity: 0.9;
    }
  }