.h1 {
  font-size: 56px;
  line-height:120%;
}
.h2 {
  font-size: 48px;
  line-height: 120%;
}
.h3 {
  font-size: 28px;
  line-height: 120%;
}
.h4 {
  font-size: 24px;
  line-height: 120%;
}
.h5 {
  font-size: 18px;
  line-height: 160%;
}

.small {
  font-size: 14px;
  line-height: 160%;
}

.weight-regular {
  font-weight: 400;
}
.weight-bold {
  font-weight: 700;
}
.weight-semiBold {
  font-weight: 600;
}

.color-black {
  color: var(--text-black);
}
.color-white {
  color: var(--text-white);
}
.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-gray {
  color: var(--text-gray);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
