.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1024px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}
