.faqBlock {
    padding-inline: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--bg-color);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 716px;
}

.title {
    color: var(--primary-900);
    line-height: 1.2;
}

.description {
    color: var(--text-gray);
    line-height: 1.5;
    font-size: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    border: 1px solid #9795B5; 
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: white;

    &.open {
        border-color: var(--primary-900); 
    }
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    cursor: pointer;
    user-select: none;

    font-size: 24px;
    font-weight: 700;
    color: var(--primary-900); 
    transition: color 0.3s ease;
}

.icon {
    font-size: 32px;
    width: 32px;
    height: 42px;
    color: var(--primary-900);
    transition: transform 0.3s ease;

    &.rotate {
        transform: rotate(180deg);
    }
}

.answer {
    padding: 0 40px 32px;
    color: var(--text-gray);
    line-height: 1.6;
    font-size: 16px;
    max-width: 800px;

}

@media (max-width: 768px) {
    .question {
        padding: 24px;
        font-size: 18px;
    }

    .answer {
        padding: 0 24px 24px;
    }
}