.subHeader {
  position: sticky;
  top: 80px;
  background: #fff;
  z-index: 999;
}

section {
  scroll-margin-top: 140px; 
} 

.buttons {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 24px 16px 24px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

button {
  background: none;
  border: none;
  font-weight: 600;
  color: #4e5bd9;
  cursor: pointer;
}

.track {
  max-width: 1200px;
  margin: 0 auto;
  height: 3px;
  background: #dcdff1;
  position: relative;
}

.indicator {
  width: 25%;      
  height: 100%;
  background: #4e5bd9;

  transition: transform 0.3s ease;
}