.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
  user-select: none;
}

.fieldInner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.inputBase {
  width: 100%;
  height: 46px;

  padding: 12px;

  background: var(--input-bg);
  border: 1.5px solid var(--primary-100);
  border-radius: 12px;

  color: var(--text-primary);
  font-size: 15px;

  transition:
    border-color 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:hover {
    height: 46px;
    border-radius: 12px;
    border: 1.5px solid var(--primary-100);
    padding: 12px;
    gap: 12px;
    color: var(--grey-50);
    background: var(--bg-hover);
  }

  &:focus {
    outline: none;
    height: 46px;
    border-radius: 12px;
    border: 1.5px solid var(--primary-100);
    padding: 12px;
    gap: 12px;
  }

  &:disabled {
    height: 46px;
    border-radius: 12px;
    border: 1.5px solid var(--grey-200);
    padding: 12px;
    gap: 12px;
    color: var(--grey-50);
    cursor: not-allowed;
    opacity: 1;
  }
}

.withIcon {
  padding-left: 44px;
}

.inputFilled {
  border-color: var(--primary-100);
}

.iconWrapper {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  pointer-events: none;

  svg {
    width: 18px;
    height: 18px;
    color: var(--text-muted);
  }
}

.eyeToggle {
  position: absolute;
  right: 12px;

  background: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  transition: opacity 0.2s ease;

  svg {
    width: 22px;
    height: 22px;
    color: var(--text-muted);
  }

  &:hover {
    opacity: 1;
  }
}

.inputError {
  height: 46px;
  border-radius: 12px;
  border: 1.5px solid #E75A5A !important;
  padding: 12px;
  gap: 12px;
  color: rgba(231, 90, 90, 0.25);
  opacity: 0.7;

  &:focus {
    outline: none;
    border: 1.5px solid var(--red) !important;
    box-shadow: none;
  }
}

.inputSuccess {
  height: 46px;
  border-radius: 12px;
  border: 1.5px solid var(--green2) !important;
  padding: 12px;
  gap: 12px;
  color: var(--grey-50);

  &:focus {
    outline: none;
    border: 1.5px solid var(--green2) !important;
    box-shadow: none;
  }
}
