.chip {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

.list {
  padding-left: 16px;
  width: 164px;
  text-align: end;
}

.list::before {
  content: '';
  position: absolute;
  left: 0;
  height: 36px;
  width: 4px;
  background: currentColor;
  text-align: end;
}

.filter {
  min-width: 94px;
  height: 30px;
  border-radius: 4px;
}

.label {
  width: 100%;
}

.selected {
  border-color: currentColor;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.purple {
  background: #CB5FFF50;
  color: var(--pink);
}

.red {
  background: #FF000050;
  color: var(--danger);
}

.yellow {
  background: #FFCC0050;
  color: var(--warning);
}

.green {
  background: #8DE4DB50;
  color: var(--success);
}

.blue {
  background: #3745AF50;
  color: var(--accent-primary-hover);
}

.gray {
  background: #f2f3f7;
  color: #aeb4c2;
}