.chip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0 16px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  white-space: nowrap;
}

.list {
  padding-left: 16px;
  width: 164px;
  text-align: end;
  justify-content: flex-end;
}

.list::before {
  content: '';
  position: absolute;
  left: 0;
  height: 36px;
  width: 4px;
  background: currentColor;
}

.filter {
  min-width: 94px;
  height: 30px;
  border-radius: 8px;
}

.label {
  width: 100%;
  display: block;
  text-align: center;
}

.selected {
  box-shadow: inset 0 0 0 1px currentColor;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.purple {
  background: var(--pink-bg);
  color: var(--pink);
  &:hover:not(.static) {
    background: darken(#F8EFFF, 2%);
  }
}

.red {
  background: var(--danger-bg);
  color: var(--danger);
  &:hover:not(.static) {
    background: darken(#FFE9EA, 2%);
  }
}

.yellow {
  background: var(--warning-bg);
  color: var(--warning);
  &:hover:not(.static) {
    background: darken(#FFF8E1, 2%);
  }
}

.green {
  background: var(--success-bg);
  color: var(--success);
  &:hover:not(.static) {
    background: darken(#E8F9F7, 2%);
  }
}

.blue {
  background: var(--blue-bg);
  color: var(--blue);
  &:hover:not(.static) {
    background: darken(#EEF0FF, 2%);
  }
}

.gray {
  background: var(--grey-bg);
  color: var(--grey);
  &:hover:not(.static) {
    background: darken(#F3F4F6, 2%);
  }
}

.static {
  cursor: default;
}