.boost {
    padding: 140px 0;
    background: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
 
  .content {
    max-width: 480px;
  }
  
  .title {
    font-size: 48px;
    font-weight: 700;
    color: #212967;
    margin-bottom: 32px;
  }
  
  .text {
    font-size: 18px;
    line-height: 1.6;
    color: #8c90a6;
    margin-bottom: 16px;
  }
  
  .images {
    position: relative;
    width: 600px;
    height: 600px;
  }
  
  .images img {
    position: absolute;
    object-fit: cover;
    border-radius: 28px;
  }
  
  .imageLeft {
    width: 304px;
    height: 300px;
    left: 0;
    top: 87px;
    z-index: 1;
  }
  
  .imageMain {
    width: 405px;
    height: 565px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 3;
  }
  
  .imageTopRight {
    width: 445px;
    height: 374px;
    left: 130px;
    top: 78px;
    z-index: 1;
  }
  
  .imageBottomRight {
    width: 302px;
    height: 267px;
    left: 350px;
    top: 261px;
    z-index: 2;
  }